.env
./GoAPI/uploads/*
./AI/10_food_classes_10_percent/*/*/*.jpg
./AI/10_food_classes_10_percent.zip
*.jpg
./AI/training_1/*
./AI/transferModel1/*
./AI/static/*
AI/training_1/cp.ckpt.data-00000-of-00001
AI/training_1/cp.ckpt.index
AI/training_1/checkpoint
AI/transferModel1/saved_model.pb
AI/transferModel1/variables/variables.data-00000-of-00001
AI/transferModel1/variables/variables.index
AI/Untitled.ipynb
AI/__MACOSX/10_food_classes_10_percent/train/._sushi
AI/__MACOSX/._10_food_classes_10_percent
AI/__MACOSX/10_food_classes_10_percent/._test
AI/__MACOSX/10_food_classes_10_percent/._train
AI/__MACOSX/10_food_classes_10_percent/test/._chicken_wings
AI/__MACOSX/10_food_classes_10_percent/test/._chicken_curry
AI/__MACOSX/10_food_classes_10_percent/test/._grilled_salmon
AI/__MACOSX/10_food_classes_10_percent/test/._fried_rice
AI/__MACOSX/10_food_classes_10_percent/test/._hamburger
AI/__MACOSX/10_food_classes_10_percent/test/._ice_cream
AI/__MACOSX/10_food_classes_10_percent/test/._pizza
AI/__MACOSX/10_food_classes_10_percent/test/._ramen
AI/__MACOSX/10_food_classes_10_percent/test/._steak
AI/__MACOSX/10_food_classes_10_percent/test/._sushi
AI/__MACOSX/10_food_classes_10_percent/train/._chicken_curry
AI/__MACOSX/10_food_classes_10_percent/train/._chicken_wings
AI/__MACOSX/10_food_classes_10_percent/train/._fried_rice
AI/__MACOSX/10_food_classes_10_percent/train/._steak
AI/__MACOSX/10_food_classes_10_percent/train/._pizza
AI/__MACOSX/10_food_classes_10_percent/train/._ramen
AI/__MACOSX/10_food_classes_10_percent/train/._hamburger
AI/__MACOSX/10_food_classes_10_percent/train/._grilled_salmon
AI/__MACOSX/10_food_classes_10_percent/train/._ice_cream
*.pb
